#navbar {
    background-color: darkgray !important;
}
#search-button {
    color: black !important;
}
#registerButton {
    margin-right: 15px;
}
.required {
    color: red;
}
input+div {
    display: none;
    color: red;
}
input.ng-invalid+div{
    display: inline;
}
.text-end{
    font-size:20px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.row {
    background-color: blue;
}
.sectionTitle{
    color: azure;
    font-weight: 600;
    font-size: x-large;
    text-decoration: none;
    
}